.sectionContainer {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: row;
}
  
.navContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 20px;
  overflow: hidden;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.docCounter {
  display: flex;
  position: relative;
  border-radius: 10px;
  font-size: medium;
  color: var(--lofi-font-color);
  background: var(--card-background-color);
  z-index: 99;
  }

.counts {
  display: block;
  width: 1em;
  height: 0.5em;
  background-color: grey;
  border-radius: 8px;
}

.counts:first-of-type {
  margin-right: 0.5em; /* Adjust the left margin of the first card */
  margin-left: 0.5em;
}

.counts.lighter {
  background-color: white;
}



.input-sectionContainer {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.grid-container {
  margin: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: 85px 125px 1fr 1fr;
  grid-gap: 10px;
  border: 2px solid white;
  width: 90%;
}

.grid-item {
  display: flex;
  border: 1px solid gray;
  padding-left: 5px;
  justify-content: center;
}

.groupContainer {
  border: 2px solid white;
  padding: 20px;
  width: 90%;
}

.lineContainer {
  border-bottom: 2px solid white;
  width: 100%;
}

.line {
  display: grid;
  grid-template-columns: 85px 125px 1fr 1fr;
  grid-gap: 10px;
  width: 100%;
}

.lineItem {
  border-left: 1px solid gray;
  padding-left: 5px;
}


  
span {
  margin-top: 15px;
  margin-left: 10px;
}
  
.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.popup {
  display: none;
  position:relative;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: scroll;
}

.inputContainer{
  display: flex;
  flex-direction: row;
  align-items:flex-end;
  padding-right:3rem;
  gap: 5px;
}

.display{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55vh;
  border: 1px solid #ccc;
}
  
/* Media Queries for Responsive Design */
/* Mobile View */
@media (max-width: 768px) {
  .grid-container {
    margin: 10px;
    grid-template-columns: 85px 2fr 3fr 3fr;
  }

  .drag-container {
    height: 400px;
    max-width: 100%;
  }
}

/* Tablet and Desktop View */
@media (min-width: 769px) {
  .drag-container {
    height: 400px;
    min-width: 100%;
    max-width: 800px;
  }
}
  