body {
    background-color: rgba(43, 43, 43, 0.24);
}

.searchContainer {
    display: grid;
    grid-template-rows: 20% 80% ;
    padding: 10px;
    height: 100%;
    overflow: hidden;
   
}

.searchItems {
    position: relative;
    margin-left: 1rem;
    padding: 10px;
    overflow-y: auto; 
}

