<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Snapshot</title>
    <meta name="Snapshot" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/navigation.css">
    <link rel="stylesheet" href="/static/css/load.css">
    <link rel="stylesheet" href="/static/css/save.css">
  </head>
  <body >
    <main>
      <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
      <header class="headerSection">
        <div class='sectionContainer'>
          <h1>Snapshot</h1><span>v1.0.0</span>
        </div>
      </header>

      <div class="hero">








       

        <!--Inside the fileBrowser -->
        <div class="fileBrowser" id="fileBrowser">
          <form id="searchForm">
            <input type="text" id="searchInput" placeholder="Search...">
            <input type="submit" value=">">
          </form>
          <div id="load" class="browser"></div>
          <div id="save" class="popup"></div>
          <div class="saveButton">
            <button id="openSave" onclick="openSave()">Upload File</button>
            <button id="closeSave" onclick="closeSave()">Close</button>
          </div>
        </div>

        <!--outside of the fileBrowser will not show until fileBrowser is closed-->
        <div class="openCloseButtons">
          <button id="openBrowser" class="openBrowser" onclick='openSidebar()'>&gt;</button>
          <button id="closeBrowser" class="closeBrowser" onclick='closeSidebar()'>&lt;</button>
        </div>






        <div class="workContainer">
          <div class="tableDisplay">
            <div id='navigation' class="navi"></div>
          </div>
          <div class="divider" id="dragMe"></div>
          <div class="pipeline">
            <div class='input-sectionContainer'>
              <div class='grid-container'>
              <div class='grid-item'>Action</div>
              <div class='grid-item'>WorkSheet</div>
              <div class='grid-item'>Column</div>
              <div class='grid-item'>Search Term</div>
            </div>
            <div id="groupContainer" class='groupContainer'></div>
              <div class='buttonContainer' style="padding:20px;">
                <button onclick="addGroup()">New Group</button>
                <button onclick="submit()">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- use version 0.19.3 -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script type="text/javascript" src="/static/js/index.js"></script>
      <script type="text/javascript" src="/static/js/save.js"></script>
      <script type="text/javascript" src="/static/js/scrollButtons.js"></script>
      <script type="text/javascript" src="/static/js/thepipeline.js"></script>
      <script type="text/javascript" src="/static/js/load.js"></script>
      <script>
        window.onload = function() {
          loadNavigation();
          browse(); // Call the browse() function when the page finishes loading
        };
      </script>
    </main>
  </body>
</html>
