<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <div id='titlesContainer' class='titlesContainer'>
          <div class="docTitles">
              <div class="titles">
                  <h2>{#{{ result[0]['05/2023'].title}}#}</h2>
              </div>
          </div> 
        </div>

        <div id='dateContainer' class='datesContainer'>
          <select id="dateSelector" onchange="updateCurrentDate()" class="dateSelector">
            {% for date in int_dates[0] %}
              <option class="dates show" value="{{ loop.index0 }}" data-date="{{ date }}">{{ date }}</option>
            {% endfor %}
          </select>
        </div>
        
        <div id='countContainer' class='countContainer' style="justify-content:flex-end">
          {% for i in range(number_of_tables) %}
          <div class="docCounter">
            <div class="counts
            {% if i == number_of_tables - 1 %}
              lighter
            {% endif %}">
            </div>
          </div>
          {% endfor %}
        </div>

        <div class='displayContainer '>
          <button class="scrollerLeft" onclick="left()">
            &lt;
          </button>

          <div class="docTables">
            <div class="docTablesInner">
              <div class ="tables" id="table" value>
                Welcome!
              </div>  
            </div> 
          </div>

          <button class="scrollerRight" onclick="right()">
            &gt;
          </button>
        </div>
        

        <script>
          var int_dict = {{ int_dict | tojson | safe }};
          var dates = {{ int_dates | tojson | safe}}  
          var dateSelector = document.getElementById('dateSelector');
          var selectedIndex = dateSelector.value;
          var selectedDate = dateSelector.options[selectedIndex].getAttribute('data-date');
     
        </script>
    </body>
</html>
