<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <div id='titlesContainer' class='titlesContainer'>
          {% for i in range(titles|length) %}
          <div class="docTitles">
              <div class="titles 
              {% if i == 0 %}
              show
              {% endif %}"
              position="{{ positions[i] }}">
                  <h2>{{ titles[i] }}</h2>
              </div>
          </div> 
          {% endfor %}
        </div>

        
        <div id='dateContainer' class='datesContainer'>
          <select id="dateSelector" onchange="updateCurrentDate()" class="dateSelector">
            {% for i in range(titles|length) %}
              <option class="dates show" value="{{ dates[i] }}" position="{{ positions[i] }}">{{ dates[i] }}</option>
            {% endfor %}
          </select>
        </div>


        <div id='countContainer' class='countContainer' style="justify-content:flex-end">
          {% for i in range(number_of_tables) %}
          <div class="docCounter">
            <div class="counts
            {% if i == number_of_tables - 1 %}
              lighter
            {% endif %}">
            </div>
          </div>
          {% endfor %}
        </div>



        <div class='displayContainer '>
          <button class="scrollerLeft" onclick="scrollLeftC()">
            &lt;
          </button>

          <div class="docTables">
            {% for i in range(titles|length) %}
            <div class="docTablesInner
            {% if i == 0 %}
            show
            {% endif %}"
            data-date="{{ dates[i] }}"
            position="{{ positions[i] }}">
              <div class ="tables" >
                {{ table_htmls[i] | safe }}
              </div>  
            </div> 
            {% endfor %}
          </div>
          <button class="scrollerRight" onclick="scrollRightC()">
            &gt;
          </button>
        </div>
        
        <!-- use version 0.19.3 -->
        <script>
          setDataLength({{ number_of_tables }});
          function scrollLeftC() {
              updateCurrentDate();
              scrollLeftX();
          };
          function scrollRightC() {
              updateCurrentDate();
              scrollRight();
          };
        </script>
    </body>
</html>