<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Snapshot</title>
    <meta name="Snapshot" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/save.css">
  </head>
  <body>
    <main>
      <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
        <header style="background-color: red; padding-left: 20px; padding-right: 20px;">
            <div class='sectionContainer'>
                <h2>Upload</h2>
            </div>
        </header>
        <div class='fileUploader'>
            <h1>File Upload</h1>
            <p>Drag and drop a file here</p>
            <form id="uploadForm" action="/upload" method="POST" class="file" enctype="multipart/form-data">
                <input id="fileInput" type="file" name="file" class="fileItem">
                <label for="dateInput" class="fileItem">Date (MM/YYYY):</label>
                <input type="text" id="dateInput" name="dateInput" pattern="\d{2}/\d{4}" required class="fileItem">
                <input type="submit" value="Upload" class="fileItem">
            </form>
        </div>
      <!-- use version 0.19.3 -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </main>
  </body>
</html>
